{% extends 'gymbase.html' %}
{% load crispy_forms_tags %}


{% block main %}
<div class="content">
            
    <div class="container">
      
        <div class="row">
            <div class="col-xl-12">
                <div class="section-tittle text-center mb-55">
                    <!-- <h1>Nutriment Track</h1> -->
                    <h2>Add a new Nutriment</h2>
                </div>
            </div>
        </div>

        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Name</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Grams</label>
          </div>
          <div class="form-floating">
            <input ea type="Date" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"/>
            <label for="floatingTextarea">Comments</label>
          </div>

      <div class="table-responsive custom-table-responsive">

        <table class="table custom-table">
          <thead>
            <tr>  

              
             
              <th scope="col">Name</th>
              <th scope="col">Descraption</th>

            </tr>
          </thead>
          <tbody>
            <tr scope="row">
            
              <td>
                1392
              </td>
              <td><a href="#">James Yates</a></td>
              <td>
   

            </tr>
            <tr class="spacer"><td colspan="100"></td></tr>
      
    

            
          </tbody>
        </table>
      </div>


    </div>

  </div> 
{% endblock %}